body {
	height: 100vh;
	margin: 0;
	background-color: rgb(226, 247, 242);
	font-family: "ubuntu", Arial, sans-serif;
}
span{
    font-size: xx-large;
	color: red;
}


.myButton {

		background-color: #4CAF50; /* Green */
		border: none;
		color: white;
		padding: 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	  
}
.myButton:hover {
	background-color:#48941f;
}
.myButton:active {
	position:relative;
	top:1px;
}

